################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/QtStudy/v15
/ControlStudy/GeneratedFiles
/ControlStudy/x64
/ControlStudy/ControlStudy.vcxproj.user
/MazeStudy/GeneratedFiles
/MazeStudy/x64
/MazeStudy/MazeStudy.vcxproj.user
/QQuaternionStudy/GeneratedFiles
/QQuaternionStudy/x64
/QQuaternionStudy/QQuaternionStudy.vcxproj.user
/QtStudy.sdf
/QtStudy.v12.suo
